<a href="https://colab.research.google.com/github/JayabharathiRavi/data_management/blob/main/saveo_dataanalyst_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **WORKING SETUP:**

In [15]:
import pandas as pd

In [3]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 46 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 48.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=91ecd1987aec7f4fb5033f27e667147d7f81b403df62bfbe5f4fdcffece7446e
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [474]:
from pyspark.sql.types import *
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [308]:
spark.conf.set("spark.sql.execution.arrow.enabled", "true")

In [6]:
spark=SparkSession.builder.appName('data_analyst').getOrCreate()

# IMPORTING DATASETS

In [56]:
df_status=pd.read_csv("/content/status.csv")
df_status_details=pd.read_csv("/content/status_details.csv")

In [57]:
df_status_details.head()

,Timestamp,orderId,distributorId,originalDistributorId,hubId,quantity,Amount,hubCode,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,13/09/22 2:30,49,1,1.0,1.0,4,555.04,a,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13/09/22 2:30,203,1,1.0,1.0,4,851.04,a,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,13/09/22 2:30,143,1,1.0,1.0,1,1137.64,a,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13/09/22 2:30,118,1,1.0,1.0,3,859.92,a,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,13/09/22 2:30,167,1,1.0,1.0,6,11453.20,a,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
df_status.head()

   orderId    status
0        1  status_b
1        2  status_b
2        3  status_a
3        4  status_a
4        5  status_b

In [139]:
df1 = pd.concat([df_status['status'], df_status_details], axis=1, join="outer")
df1.head()

,status,Timestamp,orderId,distributorId,originalDistributorId,hubId,quantity,Amount,hubCode,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,status_b,13/09/22 2:30,49,1,1.0,1.0,4,555.04,a,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,status_b,13/09/22 2:30,203,1,1.0,1.0,4,851.04,a,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,status_a,13/09/22 2:30,143,1,1.0,1.0,1,1137.64,a,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,status_a,13/09/22 2:30,118,1,1.0,1.0,3,859.92,a,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,status_b,13/09/22 2:30,167,1,1.0,1.0,6,11453.20,a,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [140]:
df1['Timestamp']=pd.to_datetime(df1['Timestamp'], errors='coerce')
df1.dtypes

status                           object
Timestamp                datetime64[ns]
orderId                           int64
distributorId                     int64
originalDistributorId           float64
hubId                           float64
quantity                          int64
Amount                          float64
hubCode                          object
Unnamed: 8                      float64
Unnamed: 9                      float64
Unnamed: 10                     float64
Unnamed: 11                     float64
Unnamed: 12                     float64
Unnamed: 13                     float64
Unnamed: 14                     float64
dtype: object

In [69]:
df1.columns

Index(['status', 'Timestamp', 'orderId', 'distributorId',
       'originalDistributorId', 'hubId', 'quantity', 'Amount', 'hubCode',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14'],
      dtype='object')

In [180]:
df= df1[['status', 'Timestamp', 'orderId', 'distributorId',
       'originalDistributorId', 'hubId', 'quantity', 'Amount', 'hubCode']]
df.head()

,status,Timestamp,orderId,distributorId,originalDistributorId,hubId,quantity,Amount,hubCode
0,status_b,2022-09-13 02:30:00,49,1,1.0,1.0,4,555.04,a
1,status_b,2022-09-13 02:30:00,203,1,1.0,1.0,4,851.04,a
2,status_a,2022-09-13 02:30:00,143,1,1.0,1.0,1,1137.64,a
3,status_a,2022-09-13 02:30:00,118,1,1.0,1.0,3,859.92,a
4,status_b,2022-09-13 02:30:00,167,1,1.0,1.0,6,11453.20,a

In [182]:
df.columns

Index(['status', 'Timestamp', 'orderId', 'distributorId',
       'originalDistributorId', 'hubId', 'quantity', 'Amount', 'hubCode'],
      dtype='object')

## **1. Find the number of orders on hourly basis.**

In [199]:
df

,status,Timestamp,orderId,distributorId,originalDistributorId,hubId,quantity,Amount,hubCode
0,status_b,2022-09-13 02:30:00,49,1,1.0,1.0,4,555.04,a
1,status_b,2022-09-13 02:30:00,203,1,1.0,1.0,4,851.04,a
2,status_a,2022-09-13 02:30:00,143,1,1.0,1.0,1,1137.64,a
3,status_a,2022-09-13 02:30:00,118,1,1.0,1.0,3,859.92,a
4,status_b,2022-09-13 02:30:00,167,1,1.0,1.0,6,11453.20,a
...,...,...,...,...,...,...,...,...,...
11796,NaN,2022-09-13 13:48:00,211,14,30.0,4.0,480,82980.10,f
11797,NaN,2022-09-13 13:48:00,81,14,28.0,4.0,600,8941.36,f
11798,NaN,2022-09-13 13:48:00,96,14,43.0,4.0,20,14029.02,f
11799,NaN,2022-09-13 13:48:00,237,14,33.0,4.0,100,42836.10,f
11800,NaN,2022-09-13 14:42:00,172,14,44.0,4.0,12,3991.98,f

In [204]:
spark.conf.set("spark.sql.execution.arrow.enabled", "true")
df_1=spark.createDataFrame(df)

In [205]:
df_1.createOrReplaceTempView("status")

In [ ]:
df['Timestamp'].unique()

In [160]:
df3=df.groupby(pd.Grouper(key='Timestamp', freq='60min')).count()
df3

,status,orderId,distributorId,originalDistributorId,hubId,quantity,Amount,hubCode
Timestamp,,,,,,,,
2022-09-13 02:00:00,270,2280,2280,2269,2273,2280,2280,2280
2022-09-13 03:00:00,0,873,873,868,870,873,873,873
2022-09-13 04:00:00,0,644,644,642,644,644,644,644
2022-09-13 05:00:00,0,557,557,557,556,557,557,557
2022-09-13 06:00:00,0,853,853,853,850,853,853,853
2022-09-13 07:00:00,0,1298,1298,1298,1297,1298,1298,1298
2022-09-13 08:00:00,0,1491,1491,1491,1490,1491,1491,1491
2022-09-13 09:00:00,0,1192,1192,1192,1192,1192,1192,1192
2022-09-13 10:00:00,0,98,98,98,98,98,98,98
2022-09-13 11:00:00,0,543,543,543,543,543,543,543
2022-09-13 12:00:00,0,1941,1941,1941,1939,1941,1941,1941
2022-09-13 13:00:00,0,30,30,30,30,30,30,30
2022-09-13 14:00:00,0,1,1,1,1,1,1,1

In [159]:
df3.shape

(13, 8)

In [170]:
df3['quantity']

Timestamp
2022-09-13 02:00:00    2280
2022-09-13 03:00:00     873
2022-09-13 04:00:00     644
2022-09-13 05:00:00     557
2022-09-13 06:00:00     853
2022-09-13 07:00:00    1298
2022-09-13 08:00:00    1491
2022-09-13 09:00:00    1192
2022-09-13 10:00:00      98
2022-09-13 11:00:00     543
2022-09-13 12:00:00    1941
2022-09-13 13:00:00      30
2022-09-13 14:00:00       1
Freq: 60T, Name: quantity, dtype: int64

In [ ]:
df_t=pd.DataFrame()
df_t['Timestamp']=pd.to_datetime(['2022-09-13 02:00:00','2022-09-13 03:00:00','2022-09-13 04:00:00','2022-09-13 05:00:00',
                                  '2022-09-13 06:00:00','2022-09-13 07:00:00','2022-09-13 08:00:00','2022-09-13 09:00:00',
                                  '2022-09-13 10:00:00','2022-09-13 11:00:00','2022-09-13 12:00:00','2022-09-13 13:00:00','2022-09-13 14:00:00'])
df_t['quantity']=[2280,873,644,557,853,1298,1491,1192,98,543,1941,30,1]

In [173]:
df2=spark.createDataFrame(df_t)
df2.createOrReplaceTempView("hour")

In [150]:
spark.sql('select HOUR(Timestamp) as hour,count(*) as orderCount from status group by hour(Timestamp) order by orderCount').show()

+----+----------+
|hour|orderCount|
+----+----------+
|null|       270|
+----+----------+

In [152]:
spark.sql('select (Timestamp) as hour,count(*) as orderCount  from status group by (Timestamp) ').show()

+-------------+----------+
|         hour|orderCount|
+-------------+----------+
|13/09/22 2:30|       270|
+-------------+----------+

In [175]:
a1=spark.sql('SELECT Timestamp as hour,quantity as orderCount from hour ')
a1.show()

+-------------------+----------+
|               hour|orderCount|
+-------------------+----------+
|2022-09-13 02:00:00|      2280|
|2022-09-13 03:00:00|       873|
|2022-09-13 04:00:00|       644|
|2022-09-13 05:00:00|       557|
|2022-09-13 06:00:00|       853|
|2022-09-13 07:00:00|      1298|
|2022-09-13 08:00:00|      1491|
|2022-09-13 09:00:00|      1192|
|2022-09-13 10:00:00|        98|
|2022-09-13 11:00:00|       543|
|2022-09-13 12:00:00|      1941|
|2022-09-13 13:00:00|        30|
|2022-09-13 14:00:00|         1|
+-------------------+----------+

In [176]:
df11=a1.toPandas()

In [177]:
df11.to_csv('1.csv')

## **2. Substitute the missing values in the column &#39;originalDistributorId&#39;with the values in the column &#39;distributorId&#39;.**

In [208]:
from numpy import NaN
print(NaN==NaN)

False

In [217]:
a=[]
d=[]
for i,j in zip(df['originalDistributorId'],df['distributorId']):
  d.append(j)
  if i!=i:
    i=j
    a.append(i)
  else:
    a.append(i)

In [224]:
df22 = pd.DataFrame({'distributorId':d,'originalDistributorId':a})

In [225]:
df22

       distributorId  originalDistributorId
0                  1                    1.0
1                  1                    1.0
2                  1                    1.0
3                  1                    1.0
4                  1                    1.0
...              ...                    ...
11796             14                   30.0
11797             14                   28.0
11798             14                   43.0
11799             14                   33.0
11800             14                   44.0

[11801 rows x 2 columns]

In [226]:
df22.to_csv('2.csv')

## **3. Find the number of entries where originalDistributorId is not same as distributorId.**

In [232]:
n=[]
for i,j in zip(df['originalDistributorId'],df['distributorId']):
  if i!=j:
    n.append(i)

In [235]:
l=len(n)

In [236]:
df33 = pd.DataFrame({'Count':[l]})

In [237]:
df33.to_csv('3.csv')

## **4. In status column we have 2 values as &#39;status_a&#39; &amp; &#39; status_b&#39;**

## **a. Find the hubCode having the highest number of order with &#39; status_b&#39;**

In [206]:
spark.conf.set("spark.sql.execution.arrow.enabled", "true")
df_1=spark.createDataFrame(df)
df_1.createOrReplaceTempView("status")

In [259]:
a2=spark.sql("select MAX(hubcode) as hubcode from status where status like 'status_b'")
a2.show()

+-------+
|hubcode|
+-------+
|      a|
+-------+

In [251]:
a2=spark.sql("select hubcode,MAX(quantity) from status where status like 'status_b' group by hubcode")
a2.show()

+-------+-------------+
|hubcode|max(quantity)|
+-------+-------------+
|      a|          360|
+-------+-------------+

In [297]:
a2.createOrReplaceTempView('order')
a3=spark.sql('select hubcode from order')
a3.show()

+-------+
|hubcode|
+-------+
|      a|
+-------+

In [254]:
df4a=a3.toPandas()

In [295]:
df4a.to_csv('4a.csv')

## **4. In status column we have 2 values as &#39;status_a&#39; &amp; &#39; status_b&#39;**
## **b. Find the hubCode having highest percentage of status_b**

In [277]:
p=[]
h=[]
for i,j,k in zip(df['quantity'],df['status'],df['hubCode']):
  if j=='status_b':
    h.append(k)
    i=i/100
    p.append(i)

In [278]:
df_2=pd.DataFrame({'hubCode':h,'status_b(percentage)':p})

In [279]:
df_p=spark.createDataFrame(df_2)
df_p.createOrReplaceTempView("per")

In [293]:
spark.sql("select max(hubcode)as hubcode from per").show()

+-------+
|hubcode|
+-------+
|      a|
+-------+

In [289]:
a4=spark.sql("select hubcode,MAX(quantity/100) as percentage from status where status like 'status_b' group by hubcode")
a4.show()

+-------+---------------------+
|hubcode|max((quantity / 100))|
+-------+---------------------+
|      a|                  3.6|
+-------+---------------------+

In [291]:
a4.createOrReplaceTempView('percentage')
a4=spark.sql("select hubcode from percentage")
a4.show()

+-------+
|hubcode|
+-------+
|      a|
+-------+

In [294]:
df4b=a4.toPandas()

In [296]:
df4b.to_csv('4b.csv')

## **5. Create a table giving the visibility of ‘distributorId’ wise, the count of orders in different status and the percentage of status_b (status) of total orders as shown below**

In [347]:
p=[]
dis=[]
s_a=[]
s_b=[]
q=[]
for i,j,k in zip(df['quantity'],df['status'],df['distributorId']):
  q.append(i)
  dis.append(k)
  if j=='status_b':
    s_a.append('NaN')
    s_b.append(j)
    i=i/100
    p.append(i)
  else:
    p.append(0)
    s_b.append('NaN')
    s_a.append(j)

In [305]:
len(s_a),len(s_b),len(p),len(dis),len(q)

(11801, 11801, 11801, 11801, 11801)

In [389]:
df_dis=pd.DataFrame({'distributorId':dis,'totalOrder':q,'status_a':s_a,'status_b':s_b,'status_b(percentage)':p})

In [390]:
df_dis.head()

   distributorId  totalOrder  status_a  status_b  status_b(percentage)
0              1           4       NaN  status_b                  0.04
1              1           4       NaN  status_b                  0.04
2              1           1  status_a       NaN                  0.00
3              1           3  status_a       NaN                  0.00
4              1           6       NaN  status_b                  0.06

In [393]:
df5=df_dis.groupby(pd.Grouper(key='distributorId')).count()
df5

               totalOrder  status_a  status_b  status_b(percentage)
distributorId
1                    4274       270      4274                  4274
2                     695         0       695                   695
3                     785         0       785                   785
4                     568         0       568                   568
5                    1604         0      1604                  1604
6                    1252         0      1252                  1252
7                     161         0       161                   161
8                     108         0       108                   108
9                      98         0        98                    98
10                    541         0       541                   541
11                    130         0       130                   130
12                    452         0       452                   452
13                    411         0       411                   411
14                     36         0        36                    36
15                    133         0       133                   133
16                     78         0        78                    78
17                     81         0        81                    81
18                    118         0       118                   118
19                      6         0         6                     6
20                     87         0        87                    87
21                      6         0         6                     6
22                      1         0         1                     1
23                     35         0        35                    35
24                     99         0        99                    99
25                      3         0         3                     3
26                      5         0         5                     5
27                     20         0        20                    20
28                      7         0         7                     7
29                      1         0         1                     1
30                      1         0         1                     1
31                      1         0         1                     1
32                      4         0         4                     4

In [437]:
df5.to_csv("5.csv")

## **6. Substitute the null values of the column &#39;hubId&#39; with the mode of that column**

In [450]:
m=df['hubId'].mean()
m

1.1791564117796827

In [445]:
df6=pd.DataFrame()

In [469]:
df_66=df['hubId'].fillna(m)

In [470]:
df_66.to_csv("6.csv")

## **7. Print all the distinct combination of ‘hubCode’ and ‘distributorId’**

In [467]:
df['hubCode'].unique(),df['distributorId'].unique()

(array(['a', 'b', 'f'], dtype=object),
 array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
        18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32]))

In [471]:
a7=spark.sql('select distinct(hubcode),(distributorId) from status order by distributorId ASC')
a7.show()

+-------+-------------+
|hubcode|distributorId|
+-------+-------------+
|      a|            1|
|      a|            2|
|      a|            3|
|      a|            4|
|      a|            5|
|      a|            6|
|      a|            7|
|      b|            8|
|      b|            9|
|      b|           10|
|      b|           11|
|      b|           12|
|      b|           13|
|      f|           14|
|      a|           15|
|      a|           16|
|      a|           17|
|      a|           18|
|      a|           19|
|      b|           20|
+-------+-------------+
only showing top 20 rows

In [472]:
df_77=a7.toPandas()
df_77.head()

  hubcode  distributorId
0       a              1
1       a              2
2       a              3
3       a              4
4       a              5

In [473]:
df_77.to_csv("7.csv")


Here we done all the 7 different queries using pandas and pyspark sql.

For each queries, we have created the result csv file.

```
                                    `THANKS FOR THE OPPORTUNITY SAVEO :)`
```